body {
  margin:0px;  
}

html,body { margin: 0px; padding: 0px;
  font-family: Trebuchet MS, Tahoma, Arial, Helvetica, sans-serif;
  font-size: 12px;
}

#overlay{
  left:20px;
  top:20px;
}


#overlay{
  position: absolute;
  background:rgba(200,200,200,0.5);
  border-radius: 15px;
  padding: 5px; 
}


#inp {
  background: rgba(255, 255, 255, 0.3);
  border: none;
}

#sel {
  background: rgba(255, 255, 255, 0.3);
  border: none;
  width: 10em;
}


#CSCanvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

body {
    margin: 0px;
    font-family: Trebuchet MS, Tahoma, Arial, Helvetica, sans-serif;
    background-color: #000000;
    font-size: 12px;
}

div.author {
  font-style: italic;
  text-align: right;
}


.showcase {
  display: flex;
  flex-wrap: wrap;
}

.showcase div {
  width: 300px;
  margin: 5px;
}

a {
  color: rgb(100,100,100);
  text-shadow: 0 0 5px rgba(0,0,0,0.2);
  text-decoration: none;
}

a:hover {
  color: rgb(255,150,0);
  text-shadow: 0 0 5px rgba(0,0,0,0.1);
  text-decoration: underline;
}

img {
  float: right;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

img:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}


.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.buttons div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1px auto;
}

.parameters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.parameters div {
  width: 160px;
  margin: 0px;
  font-style: italic;
  font-weight: bolder;
}


select {
  margin: 3px;
  background: none;
  height: 120px;
  width: 150px;
  overflow: hidden;
  border: none;
}

.options option, .mybutton {
    
  width: 140px;
  padding: 2px;
  text-align: center;
  font-size: 12px;
/*  background-color: #509050;
  color: white;*/
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  border: 1px;
  border-style: solid;
  border-color: white;
  border-radius: 5px;
  text-shadow: 0 0 5px rgba(0,0,0,0.2);
  margin: 2px auto;
}

.options option:hover, .mybutton:hover {
  background-color: #ccddff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.overlay{
  position: absolute;
  z-index: 10;
  background:rgba(200,200,200,0.5);
  border-radius: 15px;
  padding: 5px; 
}

#info {
  right:10px;
  bottom:10px;
  width: 50vw;
  min-width: 200px;
  display: none;
}

#menu {
  left:10px;
  top:10px;  
}

#dragdrop {
  color: red;
}

input {
  width: 100px;
}
